name: git push into another repo to deploy to vercel

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Pushes to another repository
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.HYUNJU_GITHUB_KEY }} 
          repository-name: hyun1211/AI-HUB-FE           
          branch: main         
          folder: .        
          clean: true        
          git-config-name: hyun1211
          git-config-email: ${{ secrets.HYUNJU_ACCOUNT_EMAIL }}
          commit-message: ${{ github.event.commits[0].message }} # 원본 커밋 메시지 사용